/* --COLORES PAGINA-- */
.nav-link:hover {
  background-color: #e994be; }

.navbar-expand-lg .navbar-collapse {
  justify-content: end; }

footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "redes" "derechos";
  background-color: #bcb4c1;
  padding: 6px; }
  footer .footer__redes {
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px; }
  footer .footer__derechos {
    grid-area: derechos;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: black; }
  footer .footer__iconos {
    width: 70px;
    height: 70px;
    margin: 12px; }

.principal {
  display: grid;
  background-image: linear-gradient(rgba(90, 85, 85, 0.7), rgba(66, 54, 30, 0.905)), url("../recursos/background.jpg");
  min-height: 70vh;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35% 65%;
  align-items: center;
  justify-items: center; }
  .principal__titulo {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .principal__titulo__estilos {
    font-size: 4rem; }
  .principal__boton {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center; }
  .principal__mainbutton {
    width: 40vw;
    height: 10vh;
    font-size: 2rem; }

/* GRID 2DA SECTION INDEX */
.end {
  margin: 0px; }
  .end__contenedor {
    display: grid;
    object-fit: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "torta macarons copitas" "parrafo parrafo parrafo";
    gap: 2px;
    padding-top: 2px; }
  .end__torta__gridarea {
    grid-area: torta; }
  .end__macarons__gridarea {
    grid-area: macarons; }
  .end__copitas__gridarea {
    grid-area: copitas; }
  .end__parrafo__gridarea {
    grid-area: parrafo;
    display: flex;
    background-color: #fff7f4;
    width: 100%;
    object-fit: cover;
    padding: 5px;
    text-align: center;
    align-items: center; }
  .end__imagenes {
    object-fit: cover;
    width: 100%;
    height: 50vh; }

.card-img-top {
  object-fit: cover;
  width: 310px;
  height: 320px; }

.card:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.23s; }

.card-text {
  color: #e994be; }

.card-body {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around; }

.bot_productos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 2.5rem; }

.contacto {
  display: flex;
  /*     flex-direction: row; */
  align-items: center;
  padding: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .contacto__form {
    display: flex;
    flex-direction: column;
    align-content: space-around; }
  .contacto__label {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .contacto__celdas {
    padding: 5px; }
  .contacto__label {
    display: flex;
    justify-content: flex-start; }
  .contacto__buttons {
    display: flex;
    padding: 5px 25% 5px 25%;
    flex-direction: row;
    justify-content: center; }
  .contacto__boton {
    width: 8vw;
    height: 5vh;
    font-size: 1rem;
    margin: 2px; }
  .contacto__textarea {
    padding: 5px; }
  .contacto__input {
    width: 21vw; }
  .contacto__ubicacion {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .contacto__ubicacion iframe {
    padding-bottom: 3vh; }
  .contacto__ubicacion h6 {
    text-align: center; }
  .contacto__svg__locacion {
    width: 1rem; }
  .contacto__ubicacion__row {
    display: flex;
    align-items: baseline; }

.resenas__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "resenas1 resenas2" "resenas3 resenas4"  "resenas5 resenas4" "resenas5 resenas6" "resenas7 resenas6" "resenas7 resenas8";
  row-gap: 5px;
  column-gap: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
  color: #e994be;
  width: 100%;
  padding: 10px;
  font-style: italic;
  text-align: end; }

.resenas__comments {
  background-color: #fff7f4; }

.resenas1 {
  grid-area: resenas1;
  background-image: url("../recursos/resenas1.jpg");
  min-height: 80vh;
  object-fit: cover;
  background-size: cover; }

.resenas2 {
  grid-area: resenas2;
  background-image: url("../recursos/resenas2.jpg");
  min-height: 100vh;
  object-fit: cover;
  background-size: cover; }

.resenas3 {
  grid-area: resenas3;
  background-image: url("../recursos/resenas3.jpg");
  min-height: 100vh;
  object-fit: cover;
  background-size: cover; }

.resenas4 {
  grid-area: resenas4;
  background-image: url("../recursos/resenas4.jpg");
  min-height: 100vh;
  object-fit: cover;
  background-size: cover; }

.resenas5 {
  grid-area: resenas5;
  background-image: url("../recursos/resenas5.jpg");
  min-height: 100vh;
  object-fit: cover;
  background-size: cover; }

.resenas6 {
  grid-area: resenas6;
  background-image: url("../recursos/resenas6.jpg");
  min-height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-position: center; }

.resenas7 {
  grid-area: resenas7;
  background-image: url("../recursos/resenas7.jpg");
  min-height: 100vh;
  object-fit: cover;
  background-size: cover; }

.resenas8 {
  grid-area: resenas8;
  background-image: url("../recursos/resenas8.jpg");
  min-height: 100vh;
  object-fit: cover;
  background-size: cover; }

.nosotros {
  padding: 16px; }
  .nosotros__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nosotros__imagen nosotros__parrafo" "nosotros__imagen nosotros__parrafo";
    column-gap: 5px; }
  .nosotros__imagen {
    grid-area: nosotros__imagen;
    width: 100%; }
  .nosotros__parrafo {
    grid-area: nosotros__parrafo;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif; }

@media only screen and (min-width: 900px) {
  .principal {
    grid-template-columns: 1fr 6fr 1fr; }
  .principal__titulo {
    display: flex;
    font-size: 25px; }
  .end {
    grid-template-areas: "torta macarons copitas" "parrafo parrafo parrafo"; }
  .end__parrafo {
    text-align: center;
    width: 100%; }
  .end__imagenes {
    width: 100%;
    height: 50vh; } }

@media only screen and (max-width: 899px) {
  .principal {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto; }
  .contacto {
    flex-direction: row; }
  .end__contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "torta parrafo" "macarons copitas"; }
  .resenas__container {
    grid-template-columns: 1fr;
    grid-template-areas: "resenas1"  "resenas2" "resenas3"  "resenas4"  "resenas5" "resenas6" "resenas7"  "resenas8"; }
  .footer__derechos {
    display: flex;
    grid-area: derechos;
    justify-content: center; }
  .footer__iconos {
    width: 40px;
    height: 40px; } }

@media only screen and (max-width: 479px) {
  .principal__mainbutton {
    width: 50vw;
    height: 8vh;
    font-size: 20px; }
  .end__contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "torta" "macarons" "copitas"  "parrafo"; }
  .contacto {
    flex-direction: row; }
    .contacto__boton {
      width: 16vw;
      height: 4vh;
      margin: 2px; }
    .contacto__input {
      width: 100%; }
  .resenas__container {
    grid-template-columns: 1fr;
    grid-template-areas: "resenas1"  "resenas2" "resenas3"  "resenas4"  "resenas5" "resenas6" "resenas7"  "resenas8"; }
  .nosotros__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nosotros__imagen" "nosotros__parrafo";
    column-gap: 5px; }
    .nosotros__container__imagen {
      grid-area: nosotros__imagen;
      width: 100%; }
    .nosotros__container__parrafo {
      grid-area: nosotros__parrafo;
      width: 100%;
      text-align: center; } }

* {
  margin: 0px;
  /* MARGEN EXTERNO */
  padding: 0px;
  /* MARGEN INTERNO */
  box-sizing: border-box; }

.body__default {
  font-family: 'Bebas Neue', cursive;
  color: #9f82b2;
  background-color: #fff7f4; }

.header__default {
  background-color: #fff7f4; }

main {
  background-color: #fff7f4; }

.titulos__etiquetas {
  text-align: center; }

/* --ESTILOS DE BOTON-- */
.botones {
  background-color: #9f82b2;
  border: #9f82b2 solid 1px;
  border-radius: 10px;
  color: #fff7f4; }

.botones:hover {
  background-image: linear-gradient(100deg, #9f82b1, #7a6f86);
  transform: scale(1.05, 1.05);
  transition: all 1s; }
