@charset "UTF-8";
/* --COLORES PAGINA-- */
/* --FUENTES PAGINAS-- */
/* 
$justify-center: (
    justify-content: center
);
$justify-start: (
    justify-content: flex-start
);
$justify-spc-around: (
    justify-content: space-around
);
$flex-direction: (
    flex-direction: column
);
 */
/* $titulos: (
    h1: 4rem,
    h2: 3rem,
    h5: 1rem,
    )
 */
/* EXTEND */
.contenido-centrado, .principal__titulo, .principal__boton {
  justify-content: center;
  align-items: center; }

.nav-link:hover {
  background-color: #e994be; }

.navbar-expand-lg .navbar-collapse {
  justify-content: end; }

.footer {
  display: flex;
  background-color: #9f82b2;
  align-items: center;
  justify-content: center; }
  .footer__redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px; }
  .footer__derechos {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: black; }
  .footer__iconos {
    width: 3rem;
    margin: 6px; }

.principal {
  /* PARTE SUPERIOR PRINCIPAL PAGE ESTILOS */
  display: grid;
  background-image: linear-gradient(rgba(90, 85, 85, 0.7), rgba(66, 54, 30, 0.905)), url("../recursos/background.jpg");
  min-height: 60vh;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: stretch; }
  .principal__titulo {
    /* NOMBRE EMPRESA */
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    text-align: center; }
  .principal__titulo__estilos {
    font-size: 4rem; }
  .principal__boton {
    /* BOTON PAG PRINCIPAL */
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex; }
  .principal__mainbutton {
    /* ESTILOS DEL BOTON PRINCIPAL */
    width: 40vw;
    height: 10vh;
    font-size: 2rem; }

/* PARTE INFERIOR PAGINA PRINCIPAL IMAGENES Y PARRAFO*/
.end {
  margin: 0px; }
  .end__contenedor {
    display: grid;
    object-fit: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "torta macarons copitas" "parrafo parrafo parrafo";
    gap: 2px;
    padding-top: 2px; }
  .end__torta__gridarea {
    grid-area: torta; }
  .end__macarons__gridarea {
    grid-area: macarons; }
  .end__copitas__gridarea {
    grid-area: copitas; }
  .end__parrafo__gridarea {
    grid-area: parrafo;
    display: flex;
    background-color: #fff7f4;
    width: 100%;
    object-fit: cover;
    padding: 5px;
    text-align: center;
    align-items: center; }
  .end__imagenes {
    object-fit: cover;
    width: 100%;
    height: 50vh; }

.card-img-top {
  object-fit: cover;
  width: 310px;
  height: 320px; }

.card:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.23s; }

.card-text {
  color: #e994be;
  font-family: "Roboto Condensed", sans-serif; }

.card-body {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around; }

.bot_productos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 2.5rem; }

.contacto {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center; }
  .contacto__form {
    display: flex;
    flex-direction: column;
    align-content: space-around; }
  .contacto__label {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contacto__celdas {
    padding: 5px; }
  .contacto__label {
    display: flex;
    justify-content: flex-start; }
  .contacto__buttons {
    display: flex;
    padding: 5px 25% 5px 25%;
    flex-direction: row;
    justify-content: center; }
  .contacto__boton {
    width: 8vw;
    height: 5vh;
    font-size: 1rem;
    margin: 2px; }
  .contacto__textarea {
    padding: 5px; }
  .contacto__input {
    width: 21vw; }
  .contacto__ubicacion {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .contacto__ubicacion iframe {
    padding-bottom: 3vh; }
  .contacto__ubicacion h6 {
    text-align: center; }
  .contacto__svg__locacion {
    width: 1rem; }
  .contacto__ubicacion__row {
    display: flex;
    align-items: baseline; }

.resenas__subtitulos {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  color: #9f82b2; }

.resenas__card {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 50 50;
  grid-template-areas: "odd even";
  background-color: #fff7f4;
  justify-content: center;
  text-align: center;
  justify-items: center;
  column-gap: 35px; }

.resenas__img-client {
  height: fit-content;
  width: fit-content;
  margin-right: 2em;
  width: 70px;
  height: 59px;
  border-radius: 100%; }

.resenas__card-interior {
  background-image: linear-gradient(rgba(90, 85, 85, 0.7), rgba(66, 54, 30, 0.905)), url("../recursos/background.jpg");
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 2%;
  margin: 2%;
  height: 35vh;
  width: 25vw; }

.resenas__texto {
  display: flex;
  font-style: oblique;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff7f4;
  width: 400px;
  text-align: center;
  align-items: center; }

.odd {
  grid-area: "odd"; }

.even {
  grid-area: "even"; }

.nosotros {
  padding: 1rem; }
  .nosotros__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nosotros__parrafo nosotros__imagen" "nosotros__parrafo nosotros__imagen";
    justify-items: center;
    align-items: stretch;
    row-gap: 1rem; }
  .nosotros__imagen {
    grid-area: nosotros__imagen;
    width: 100%;
    justify-self: start;
    padding-right: 1rem;
    object-fit: cover; }
  .nosotros__parrafo {
    grid-area: nosotros__parrafo;
    width: 95%;
    text-align: start;
    font-family: "Roboto Condensed", sans-serif;
    justify-self: start; }

@media only screen and (min-width: 900px) {
  .principal {
    /*  PARTE SUPERIOR PAG PRINCIPAL MEDIAQUERIES min-width:900px */
    grid-template-columns: 1fr 6fr 1fr; }
    .principal__titulo {
      /* NOMBRE EMPRESA */
      display: flex;
      font-size: 25px; }
  .end {
    /*  PARTE INFERIOR PAG PRINCIPAL MEDIAQUERIES min-width:900px */
    grid-template-areas: "torta macarons copitas" "parrafo parrafo parrafo"; }
    .end__parrafo {
      text-align: center;
      width: 100%; }
    .end__imagenes {
      width: 100%;
      height: 50vh; } }

@media only screen and (max-width: 899px) {
  /* PRINCIPAL MEDIAQUERIES max-width:899px */
  .principal {
    /* PARTE SUPERIOR PAG PRINCIPAL */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto; }
  .end__contenedor {
    /* PARTE INFERIOR PAG PRINCIPAL MEDIAQUERIES max-width:899px */
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "torta parrafo" "macarons copitas"; }
  .contacto {
    /* CONTACTANOS MEDIAQUERIES max-width:899px */
    flex-direction: row; }
    .contacto__input {
      width: 100%; }
  .nosotros {
    /* NOSOTROS MEDIAQUERIES max-width:899px */
    grid-template-columns: 1fr;
    grid-template-areas: "nosotros__parrafo" "nosotros__imagen"; }
  .resenas__card {
    /*  RESEÑAS MEDIAQUERIES max-width:899px */
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 50;
    grid-template-areas: "odd"  "even";
    background-color: #fff7f4;
    justify-content: center;
    text-align: center;
    justify-items: center;
    column-gap: 35px; } }

@media only screen and (max-width: 899px) and (max-width: 479px) {
  /*  PARTE SUPERIOR PAG PRINCIPAL MEDIAQUERIES max-width:479px */
  .principal {
    min-height: 30vh; }
    .principal__mainbutton {
      /* ESTILOS DE BOTON */
      width: 50vw;
      height: 8vh;
      font-size: 20px; }
    .principal__titulo__estilos {
      /* ESTILOS DE NOMBRE EMPRESA */
      font-size: 3rem; }
  /*  PARTE INFERIOR PAG PRINCIPAL MEDIAQUERIES  max-width:479px */
  .end__contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "parrafo" "torta" "macarons" "copitas"; }
  /* CONTACTANOS MEDIAQUERIES max-width:479px */
  .contacto {
    /* ALINEADO  */
    flex-direction: row;
    text-align: center; }
    .contacto__boton {
      /* DIMENSIONES BOTONES */
      width: 16vw;
      height: 4vh;
      margin: 2px; }
    .contacto__input {
      width: 100%; }
  /* NOSOTROS MEDIAQUERIES max-width:479px */
  .nosotros__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nosotros__imagen" "nosotros__parrafo"; }
    .nosotros__container__imagen {
      /* AREA IMAGEN BATIDOR */
      grid-area: nosotros__imagen;
      width: 100%; }
    .nosotros__container__parrafo {
      /* AREA Y ESTILOS DEL PARRAFO */
      grid-area: nosotros__parrafo;
      width: 100%;
      text-align: center; } }

* {
  margin: 0px;
  /* MARGEN EXTERNO */
  padding: 0px;
  /* MARGEN INTERNO */
  box-sizing: border-box; }

.body__default {
  /* ESTILOS POR DEFECTO DE BODY */
  font-family: "Bebas Neue", cursive;
  color: #9f82b2;
  background-color: #fff7f4; }

.header__default {
  /* ESTILOS POR DEFECTO DE HEADER */
  background-color: #fff7f4; }

main {
  /* ESTILOS POR DEFECTO DE MAIN */
  background-color: #fff7f4; }

.titulos__etiquetas {
  /* ESTILOS PESTAÑAS PAGINAS -INDEX-PRODUCTOS-CONTACTANOS-NOSOTROS-RESEÑAS- */
  text-align: center;
  background-image: linear-gradient(rgba(90, 85, 85, 0.7), rgba(66, 54, 30, 0.905)), url("../recursos/background.jpg");
  min-height: 1rem; }

/* --ESTILO DE BOTONES-- */
.botones {
  background-color: #9f82b2;
  /* COLOR FONDO BOTON */
  border: #9f82b2 solid 1px;
  /* COLOR CONTORNO BOTON */
  border-radius: 10px;
  /* REDONDEADO ESQUINAS  */
  color: #fff7f4;
  /* COLOR LETRAS BOTON */ }

.botones:hover {
  /* EFECTO DE BOTON */
  background-image: linear-gradient(100deg, #9f82b1, #7a6f86);
  transform: scale(1.05, 1.05);
  transition: all 1s; }
