.contacto {
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 90vh;



    &__form {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        
        }
    
        &__label {
            display: flex;           
            flex-direction: column;
            align-items: center;
            
        }   
        &__celdas {
            padding: 5px;
            
            
        }
        &__label {
            display: flex;
            justify-content: flex-start;
        }
        
        
        &__buttons {
            display: flex;
            padding: 5px 25% 5px 25%;
            flex-direction: row;
            justify-content: center;
        }
        
        &__boton {
            width: 8vw;
            height: 5vh;
            font-size: 1rem;
            margin: 2px;
        }
        
        &__textarea {
            padding: 5px;
        
        }
        
        &__input {
            width: 21vw;
            
        }
        
        &__ubicacion {
            display: flex;
            align-items: center;
            flex-direction: column;
            
        }
        
        &__ubicacion iframe {
            padding-bottom: 3vh;
        }
        
        &__ubicacion h6 {
            text-align: center;
            
        }
        
        &__svg__locacion {
            width: 1rem;
        
        }

        &__ubicacion__row {
            display: flex;
            align-items: baseline;
        }
        
        &__logo-size {
            width: 320px;
        }
}

        
