
.contacto__contenedor{
    margin-top: 7px;
}


    
.contacto__buttons {
    display: flex;
    padding: 5px 25% 5px 25%;
    flex-direction: row;
    justify-content: space-around;
}
.cont__boton {
    width: 15vw;
    height: 6vh;
    font-size: 1rem;
    margin: 2px;
}


