
footer {
    display: grid;
    grid-template-columns:auto;
    grid-template-areas: "redes"
                        "derechos";
    background-color: #bcb4c1;
    padding: 6px;
    
    .footer {

        &__redes {
            grid-area: redes;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1px;
        }


        &__derechos {
            grid-area: derechos;
            display: flex;
            justify-content: center;
            text-decoration: underline;
            color:rgb(11, 20, 5)

        }
        &__iconos {
            width: 70px;
            height: 70px;
            margin: 12px;
        }
    }
} 