
.footer {
    display: flex;
    justify-content: center;
    align-items: center;


    &__redes {
        padding: 1px;   
    }

    &__derechos {
        display: flex;
        justify-content: flex-start;
        text-decoration: underline;
        color:rgb(11, 20, 5)
    }
    
    &__iconos {
        width: 70px;
        height: 70px;
        margin: 12px;
    }
}