@media only screen and (min-width:900px) {

    .principal {
        grid-template-columns: 1fr 6fr 1fr;
        }

    .principal__titulo {
        display: flex;
        font-size: 25px;
        }

    .end {
        grid-template-areas:    
                                "torta macarons copitas"
                                "parrafo parrafo parrafo";
        }            

    .end__parrafo {
        text-align: center;
        width: 100%;
        }

    .end__imagenes {
        width: 100%;
        height: 50vh;
        }

}

@media only screen and  (max-width:899px) {
    
    .principal {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        }

    .contacto {
        flex-direction: row;
        }



    .end__contenedor {
    display: grid;
    object-fit: cover;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:     "torta parrafo"
                            "macarons copitas";
    gap: 2px;
    padding-top: 2px;
    }  
    
    .parrafo__gridarea {
        text-align: center;
        align-items: center;
    }

    .resenas__container {
        grid-template-columns: 1fr;
        grid-template-areas:    "resenas1" 
                                "resenas2"
                                "resenas3" 
                                "resenas4" 
                                "resenas5"
                                "resenas6"
                                "resenas7" 
                                "resenas8";                           
    }
    


    .footer__derechos {
        display: flex;
        grid-area: derechos;
        justify-content: center;
        }

    .footer__iconos {
        width: 40px;
        height: 40px;
        }

}

@media only screen and (max-width:479px) {
    
    .principal {


        .mainbutton {
            width: 50vw;
            height: 8vh;
            font-size: 20px;
        }
        
    }
    
    
        
    .end__contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:   
                                "torta"
                                "macarons"
                                "copitas" 
                                "parrafo";
        }


    .end__imagenes {
        width: 100vw;
        height: 50vh;
        }

    .contacto {
    flex-direction: row;
    }

    .contacto__boton {
        width: 16vw;
        height: 4vh;
        margin: 2px;
    }

    .contacto__input {
        width: 100%;
    }
    

    .resenas__container {
    grid-template-columns: 1fr;
    grid-template-areas:    "resenas1" 
                            "resenas2"
                            "resenas3" 
                            "resenas4" 
                            "resenas5"
                            "resenas6"
                            "resenas7" 
                            "resenas8";                           
    }


    .nosotros__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:    "nosotros__imagen"
                                "nosotros__parrafo";
        column-gap: 5px;
        }

    .nosotros__imagen {
        grid-area: nosotros__imagen;
        width: 100%;
        }

    .nosotros__parrafo {
        grid-area: nosotros__parrafo;
        width: 100%;
        text-align: center;
        }


        
}