@media only screen and (min-width:900px) {

    .principal {/*  PARTE SUPERIOR PAG PRINCIPAL MEDIAQUERIES min-width:900px */
        grid-template-columns: 1fr 6fr 1fr;
        
        &__titulo {  /* NOMBRE EMPRESA */
            display: flex;
            font-size: 25px;
            }
    }
    
    .end {  /*  PARTE INFERIOR PAG PRINCIPAL MEDIAQUERIES min-width:900px */
        grid-template-areas:    
                                "torta macarons copitas"
                                "parrafo parrafo parrafo";
                    
        &__parrafo {
            text-align: center;
            width: 100%;
            }
    
        &__imagenes {
            width: 100%;
            height: 50vh;
            }
    }

}

@media only screen and  (max-width:899px) {
            /* PRINCIPAL MEDIAQUERIES max-width:899px */

    .principal {    /* PARTE SUPERIOR PAG PRINCIPAL */
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        }    

        
    .end__contenedor {/* PARTE INFERIOR PAG PRINCIPAL MEDIAQUERIES max-width:899px */
        grid-template-columns: 1fr 1fr;
        grid-template-areas:     "torta parrafo"
                                "macarons copitas";
    }  
        
    .contacto {/* CONTACTANOS MEDIAQUERIES max-width:899px */
        flex-direction: row;
        
        &__input {      
            width: 100%;
        }
    }

    .nosotros {
        padding: 1rem;
        &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:    "nosotros__parrafo nosotros__imagen"
                                "nosotros__parrafo nosotros__parrafo";
        justify-items: center;
        align-items: stretch;
        row-gap: 1rem;
        }
        &__parrafo {
                grid-area: nosotros__parrafo;
                width: 95%;
                text-align: start;
                font-family: $font-secundaria;
                justify-self: start;
                word-wrap: break-word;
            }
        &__imagen {
            grid-area: nosotros__imagen;
            justify-self: start;
            padding-right: 1rem;
            object-fit: cover;

        }
    
    }
    .resenas__card { /*  RESEÑAS MEDIAQUERIES max-width:899px */
        grid-template-columns: 50 ;
        grid-template-areas: "odd" 
                                "even";

        &__card-interior {
                height: 40vh;
                width: 70vw;
                }
        
        &__img-client {
            width: 70px;
            height: 80px;
        }
            
    }
}

@media only screen and (max-width:479px) {
        /*  PARTE SUPERIOR PAG PRINCIPAL MEDIAQUERIES max-width:479px */
    .principal {
        min-height: 30vh;
        &__mainbutton {/* ESTILOS DE BOTON */
                width: 50vw;
                height: 8vh;
                font-size: 20px;
            }
        &__titulo__estilos {/* ESTILOS DE NOMBRE EMPRESA */
            font-size: 3rem;
        }
            
    }       /*  PARTE INFERIOR PAG PRINCIPAL MEDIAQUERIES  max-width:479px */
    .end__contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:   
                                "parrafo"
                                "torta"
                                "macarons"
                                "copitas";
        
    }

        /* CONTACTANOS MEDIAQUERIES max-width:479px */

    .contacto { /* ALINEADO  */
        flex-direction: row;
        text-align: center;

        &__boton { /* DIMENSIONES BOTONES */
            width: 16vw;
            height: 4vh;
            margin: 2px;
        }

        &__input { 
            width: 100%;
        }
    }
    .resenas__card { /*  RESEÑAS MEDIAQUERIES max-width: 479px */
        grid-template-columns: 50 ;
        grid-template-areas: "odd" 
                                "even";

    .resenas__card-interior {
            height: 40vh;
            width: 70vw;
            }
    
    .resenas__img-client {
        width: 50px;
        height: 60px;
    }
           
    }
    

        /* NOSOTROS MEDIAQUERIES max-width:479px */

    .nosotros__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:    "nosotros__imagen"
                                "nosotros__parrafo";
      
        
        &__imagen { /* AREA IMAGEN BATIDOR */
                grid-area: nosotros__imagen;
                width: 100%;
                }

        &__parrafo {    /* AREA Y ESTILOS DEL PARRAFO */
            grid-area: nosotros__parrafo;
            width: 100%;
            text-align: center;
            }
        }
    
}