@media only screen and (min-width:900px) {

    .principal {
        grid-template-columns: 1fr 6fr 1fr;
        }

    .principal__titulo {
        display: flex;
        font-size: 25px;
        }

    .end {
        grid-template-areas:    
                                "torta macarons copitas"
                                "parrafo parrafo parrafo";
        }            

    .end__parrafo {
        text-align: center;
        width: 100%;
        }

    .end__imagenes {
        width: 100%;
        height: 50vh;
        }

}

@media only screen and  (max-width:899px) {
    
    .principal {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        }



.end__contenedor {
    display: grid;
    object-fit: cover;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:     "torta parrafo"
                            "macarons copitas";
    gap: 2px;
    padding-top: 2px;
    }  
    
    .parrafo__gridarea {
        text-align: center;
        align-items: center;
    }
    .contacto__input {
        display: flex;
        justify-content: space-between;
        background-color: rgb(217, 248, 196);
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        }

    .contacto__datos {
        justify-content: center;
        display: flex;
        }

    footer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:    "redes" 
                                "derechos"
        
        }

    .footer__derechos {
        display: flex;
        grid-area: derechos;
        justify-content: center;
        }

    .footer__iconos {
        width: 40px;
        height: 40px;
        }

}

@media only screen and (max-width:479px) {
    
    .principal {
        display: grid;
        background-image: linear-gradient(rgba(90, 85, 85, 0.7), rgba(66, 54, 30, 0.905)),
        url("../recursos/background.jpg");
        min-height: 70vh;
        width: 100%;
        background-size:cover;
        background-position: center;
        grid-template-columns: 10% 80% 10%;

        .mainbutton {
            width: 50vw;
            height: 8vh;
            font-size: 20px;
        }
        
    }
    
    
        
    .end__contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:   
                                "torta"
                                "macarons"
                                "copitas" 
                                "parrafo";
        }

    .contacto__input {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        }
    .contacto__datos {
        justify-content: center;
        display: flex;
        }
    .end__imagenes {
        width: 100vw;
        height: 50vh;
        }


    .resenas__container {
        font-size: 17px;
        }

    .nosotros__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:    "nosotros__imagen"
                                "nosotros__parrafo";
        column-gap: 5px;
        }

    .nosotros__imagen {
        grid-area: nosotros__imagen;
        width: 100%;
        }

    .nosotros__parrafo {
        grid-area: nosotros__parrafo;
        width: 100%;
        text-align: center;
        }

    footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:    "redes"
                            "derechos"
                            
        }


}