.nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:     "nosotros__imagen nosotros__texto1"
                            "nosotros__imagen nosotros__texto2"
                            "nosotros__imagen nosotros__texto3";
    object-fit: cover;                        
    justify-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__imagen {
        grid-area: nosotros__imagen;
        padding-left: 2rem;
        
    }
    &__img {
        width: 44vw;
    }
    
    &__texto1 {
        font-size: 1.7em;
        font-family: $font-secundaria;
       
    }

    &__texto2 {
        font-size: 1.7em;
        font-family: $font-secundaria;
       
    }

    &__texto3 {
        font-size: 1.7em;
        font-family: $font-secundaria;
       
    }


}

