.principal {
    display: grid;
    background-image: linear-gradient( $grad1_bck, $grad2_bck),
    url("../recursos/background.jpg");
    min-height: 50vh;
    width: 100%;
    background-size:cover;
    object-fit: cover;
    background-position: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;

    &__titulo {
        grid-column:2/3;
        grid-row: 1/2;
        display: flex;
        @extend .contenido-centrado;
        text-align: center;
        }
        &__titulo__estilos {
            font-size: 4rem;
        }
    


    &__boton {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        @extend .contenido-centrado;
        }

    &__mainbutton {
        width: 40vw;
        height: 10vh;
        font-size: 2rem;
        }
    
   
}


