.card-img-top {
    object-fit:cover ;
    width: 310px;
    height: 320px;
    }

.card:hover {
        transform: scale(1.05, 1.05);
        transition: all 0.23s;
    }
    

    
.card-text {
    color: #e994be;
    }

