.productos__parrafo {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(249, 249, 197);
    }

.card-img-top {
    object-fit:cover ;
    width: 310px;
    height: 320px;
    }

.card:hover {
        transform: scale(1.05, 1.05);
        transition: all 0.23s;
    }
    

    
.card-text {
    color: #e994be;
    }

