.resenas {
    
    &__card {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        background-color: black;

    &__img-client {
        display: flex;
    }

    &__card-interior {
        background-image: linear-gradient( $grad1_bck, $grad2_bck),
        url("../recursos/background.jpg");


        }
    }

    &__texto {
        display: flex;
        font-style: oblique;
        font-family: $font-secundaria;
        color: $blanco; 
        width: 400px;       

    } 

}

