.resenas {
    
    &__card {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 50 50;
        grid-template-areas: "odd even";
        background-color: $blanco;
        justify-content: center;
        text-align: center;
        justify-items: center;
        column-gap: 35px;

    }
    &__img-client {

        width:100px ;
        height: 110px;
        border-radius: 100%;
    }

    &__card-interior {
        background-image: linear-gradient( $grad1_bck, $grad2_bck),
        url("../recursos/background.jpg");
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 15px;
        padding: 2%;
        margin: 2%;
        height: 50vh;
        width: 44vw;
        }
    
    &__texto {
        display: flex;
        font-style: oblique;
        font-family: $font-secundaria;
        color: $blanco; 
        width: 100%; 
        word-wrap: break-word;
        text-align: center;
        align-items: center;     
    } 
}

.odd{
    grid-area: "odd";
}
.even {
    grid-area: "even";
}