
/* --COLORES PAGINA-- */
$violeta: #9f82b2;
$rosa: #e994be;
$blanco: #fff7f4;
$grad1_bck: rgba(90, 85, 85, 0.7);
$grad2_bck: rgba(66, 54, 30, 0.905);
$grad1_bot: #9f82b1;
$grad2_bot: #7a6f86;

/* --FUENTES PAGINAS-- */
$font-principal: ('Bebas Neue', cursive);
$font-secundaria: ('Roboto Condensed', sans-serif);
/* 
$justify-center: (
    justify-content: center
);
$justify-start: (
    justify-content: flex-start
);
$justify-spc-around: (
    justify-content: space-around
);
$flex-direction: (
    flex-direction: column
);
 */
/* $titulos: (
    h1: 4rem,
    h2: 3rem,
    h5: 1rem,
    )
 */
