
/* --COLORES PAGINA-- */
$violeta: #9f82b2;
$rosa: #e994be;
$blanco: #fff7f4;
$grad1_bck: rgba(90, 85, 85, 0.7);/* COLOR 1 GRADIANTE MAIN PRINCIPAL */
$grad2_bck: rgba(66, 54, 30, 0.905);/* COLOR 2 GRADIANTE MAIN PRINCIPAL */
$grad1_bot: #9f82b1;
$grad2_bot: #7a6f86;



/* --FUENTES PAGINAS-- */
$font-principal: ('Bebas Neue', cursive);
$font-secundaria: ('Roboto Condensed', sans-serif);

