@import "variables";
@import "operators";
@import "header";
@import "nav";
@import "footer";
@import "principal";
@import "end";
@import "productos";
@import "contactanos";
@import "resenas";
@import "nosotros";
@import "mediaqueries";

.rojo{
  background-color: red;
}

.verde{
  background-color: green;
}

.amarillo{
  background-color: yellow;
}

.azul{
  background-color: blue;
}


*{
    margin: 0px; /* MARGEN EXTERNO */
    padding: 0px; /* MARGEN INTERNO */
    box-sizing: border-box;
}

.body__default {    /* ESTILOS POR DEFECTO DE BODY */
    font-family: $font-principal;
    color:$violeta;
    background-color:$blanco;
}



main {          /* ESTILOS POR DEFECTO DE MAIN */
    background-color:$blanco;
}

.titulos__etiquetas {       /* ESTILOS PESTAÑAS PAGINAS -INDEX-PRODUCTOS-CONTACTANOS-NOSOTROS-RESEÑAS- */
    text-align: center;
    background-image: linear-gradient( $grad1_bck, $grad2_bck),
    url("../recursos/background.jpg");
    min-height: 1rem;
}


            /* --ESTILO DE BOTONES-- */
.botones {
    background-color:$violeta;      /* COLOR FONDO BOTON */
    border: $violeta solid 1px; /* COLOR CONTORNO BOTON */
    border-radius: 10px; /* REDONDEADO ESQUINAS  */
    color:$blanco; /* COLOR LETRAS BOTON */
    
}

.botones:hover {        /* EFECTO DE BOTON */
    background-image: linear-gradient(100deg, $grad1_bot, $grad2_bot);
    transform: scale(1.05,1.05);
    transition: all 1s;
}








