@import "header";
@import "nav";
@import "footer";
@import "principal";
@import "end";
@import "productos";
@import "contactanos";
@import "resenas";
@import "nosotros";
@import "mediaqueries";

*{
    margin: 0px; /* MARGEN EXTERNO */
    padding: 0px; /* MARGEN INTERNO */
    box-sizing: border-box;
}

.body__default {
    font-family: 'Bebas Neue', cursive;
    color:#9f82b2;
    background-color:#fff7f4;
}

.header__default {
    background-color: #fff7f4;
}

main {
    background-color:#fff7f4;
}

.titulos__etiquetas {
    display: flex;
    background-image: linear-gradient(rgba(148, 110, 110, 0.7), rgba(146, 137, 118, 0.905)),
    url("../recursos/background.jpg");
    min-height: 17px;
    width: 100%;
    background-size:cover;
    object-fit: cover;
    justify-content: center;
    
}


/* --ESTILOS DE BOTON-- */
.botones {
    background-color:#9f81b2;
    border:#9f81b2 solid 2px;
    border-radius: 10px;
    color:#fff7f4; 
    
}
 /* transform: translate(10px, 10px); este es para mover el elemento*/
.botones:hover {
    background-image: linear-gradient(100deg, #9f82b1, #7a6f86);
    transform: scale(1.05,1.05);
    transition: all 1s;
}








